<section id="projects">
<div class="container">
  <h2>Portfolio</h2>
  <div class="panel panel-default">
    <div class="panel-body">
		<h3>Projects</h3>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="http://ohmbrewer.org">Ohmbrewer</a></strong>
			- My Masters Project for my M.Eng.! We developed a system for automated brewery control focused on homebrewers.
		</h5>

		<h3>Code samples</h3>

		<h6 class="label label-success">Java</h6>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/kyleoliveira/indexer">Indexer</a></strong>
			- A Java application that takes a plain-text file and produces an alphabetical-ordered index of where
			individual words appear in the file. I originally built it for a job interview in 2011.
		</h5>

		<h6 class="label label-success">C++</h6>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/kyleoliveira/pentominoes">Pentominoes</a></strong>
			- Solves the pentominoes puzzle by iteratively attempting to fit a piece into each spot on a checkerboard with the
			corner squares cut off. Solution is found quietly, but comments can be removed to show each individual attempt
			(though this will make the process take considerably longer).
		</h5>
    </div>
  </div>
</div>
</section>
